/*.js
**/*.js
node_modules
build
/src/reac-app-env.d.ts
/src/server.ts

tsconfig.json
README.md
LICENSE

package.json
yarn-error.log
yarn.lock
.eslintrc.json

lib
example
!.storybook
!.jest
packages/**/dist